.admin-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.admin-header h2 {
    flex-grow: 1;
    margin: 0;
    color: #FAFBFB;
}

.admin-header button {
    margin-left: 50vw;
}
.admin-header h2 {
    font-family: monospace;
}
.ant-layout-sider-trigger {
  background-color: #F28705 !important; /* Màu cam */
  border-right: 2px solid #1677ff;
}
.ant-menu-item .anticon {
    border: 2px solid gray; /* Đường viền 1px màu xanh */
    border-radius: 4px; /* Bo góc cho biểu tượng */
    padding: 5px; /* Khoảng cách giữa đường viền và biểu tượng */
    margin-right: 8px; /* Khoảng cách giữa icon và text */
  }