.admin-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.admin-header h2 {
    flex-grow: 1;
    margin: 0;
    color: #FAFBFB;
}

.admin-header button {
    margin-left: 50vw;
}
.admin-header h2 {
    font-family: monospace;
}
.ant-layout-sider-trigger {
  background-color: #F28705 !important; 
  border-right: 2px solid #1677ff;
}
.ant-menu-item .anticon {
    border: 2px solid gray; 
    border-radius: 4px; 
    padding: 5px; 
    margin-right: 8px; 
  }

.background-video {
  width: 70%; 
  height: 70%; 
  object-fit: cover; 
  border-radius: inherit; 
  overflow: hidden;
}
